
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        h1 {
            text-align: center;
            font-size: 250%;
            position: relative;
            background: #b30000;
        }

        p {
            text-align: center;
            font-size: 200%;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1>This is a task manager!</h1>
        <h2> Ooops, that user doesn't seem to exist</h2>
        <p><a asp-action="SignUp">Sign Up right now!</a></p>
        <p><a asp-action="LogIn">Try to log in again!</a></p>
    </div>
</body>
</html>

