@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Adding</title>
    <style>
        h1 {
            text-align: center;
            font-size: 250%;
            position: relative;
            background: #b30000;
        }

        h2 {
            text-align: center;
            font-size: 250%;
        }

        p {
            text-align: center;
            font-size: 200%;
        }

        p1 {
            font-size: 150%;
        }

        footer {
            position: fixed;
            width: 100%;
            left: 0;
            bottom: 0;
            background: #b30000;
            color: black;
        }
    </style>
</head>
<body>
    <h1>Task manager</h1>
    <h2>Task has been edited!</h2>
    <p><a asp-controller="Data" asp-action="ListAdded">See your table of tasks</a></p>
    <footer>
        <p1>All rights and lefts reserved</p1>
    </footer>
</body>
</html>

